.menu-item {
    font-family: $font-family-primary;
    font-size: $fonts-size-navigation;
    font-weight: $font-weight-fat;
    line-height: $line-height-big;
    position: relative;
    text-transform: uppercase;

    &__dropdown {
        left: -20px;
        opacity: 0;
        padding-top: 15px;
        position: absolute;
        transition: opacity 400ms, visibility 400ms;
        visibility: hidden;
    }

    &__lable {
        color: theme-color("inactive");
        transition: color 0.3s ease;

        &:hover {
            color: theme-color("accent-1");
            cursor: pointer;
        }
        &.-active {
            color: theme-color("active");
        }
    }

    &:hover {
        .menu-item__dropdown {
            opacity: 1;
            visibility: visible;
        }
    }
}