.input {
    display: flex;
    flex-direction: column;

    &__box {
        align-items: center;
        background-color: theme-color("inactive");
        display: flex;
        height: spacer(medium-s);
        position: relative;
    }

    &__text {
        background-color: theme-color("inactive");
        border: solid border(s);
        border-color: theme-color("footer-accent");
        border-radius: radius(m);
        color: theme-color("footer-accent");
        font-family: $font-family-primary;
        padding: spacer(small-m) spacer(small-xl);
        width: 100%;
    }

    &__anchor {
        position: absolute;
        right: 0;
        top: spacer(small-xxs);
    }

    &__button {
        border: none;
        border-radius: radius(m);
        margin-top: spacer(small-xs);
        padding: spacer(small-xs) spacer(small-xl);
        pointer-events: none;
    }

    &__button-img {
        @include size(16px);
    }


    &__label {
        font-size: $fonts-size-navigation;
        line-height: $line-height-big;
        margin-top: spacer(a);
    }
}