.post-info {
    display: flex;
    flex-direction: column;
    font-family: $font-family-primary;
    width: 100%;

    &.-white {
        height: 100%;
    }

    &__title {
        color: theme-color("accent-1");
        font-size: $fonts-size-text;
        font-weight: $font-weight-fat;
        line-height: $line-height-small;
        margin-bottom:  spacer(small-xl);
        text-transform: uppercase;

        &.-white {
            color: theme-color("white");
            margin-bottom: auto;
        }
    }

    &__subtitle {
        color: theme-color("active");
        font-size: $fonts-size-text;
        font-weight: $font-weight-fat;
        line-height: $line-height-small;
        margin-bottom: spacer(small-s);

        &.-white {
            color: theme-color("white");
            font-size: $fonts-size-h1;
        }
    }

    &__text {
        color: theme-color("inactive");
        font-size: $fonts-size-text;
        line-height: $line-height-medium;
        margin-bottom: spacer(small-s);

        &.-white {
            color: theme-color("white");
        }
    }
}