
.header__menu {
    display: none;
    visibility: hidden;
    color: $color-shark;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.82;
    font-weight: bold;
}

.menu__discovery, .menu__photos, .menu__contact {
    opacity: 0.5;
}

@include if-tablet {
    .header__menu {
        display: flex;
        visibility: visible;
        list-style: none;
        margin-right: 29px;
    }
    .header__menu li {
        margin: 11px;
    }
}
