$borders-map: (
    s: 1px,
    m: 2px,
    l: 3px
);

@function border($_key) {
    @return map-get($borders-map, $_key);
}

$border-radius-map: (
    m: 4px,
    l: 5px,
    round: 50%
);

@function radius($_key) {
    @return map-get($border-radius-map, $_key);
}