$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

@mixin if-tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin if-desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin size($_size) {
    height: $_size;
    width: $_size;
}


