// colors.scss gera praktika pradzioj apsirasyt visa spalvu palete su spalvos pavadinimu,
// o zemiau faile apsirasyt spalva su konkreciu uznaudojimu ir panaudot ta spalvos kintamaji

// Grynu spalvu pavadinimus gali isgaut cia http://chir.ag/projects/name-that-color/ copy + paste spalvos hex koda ir gausi pavadinima

// Color pallette
$color-white: #fff; // Grynasias spalvas irgi verta apsirasyt (white ir black) nes kartais ju atspalvis nera visiskai baltas arba juodas
$color-light-red: #fa6980;
$color-gray-chateu: #a6adb4;

// Project colors
$color-accent: $color-light-red;

// Layout colors
$color-body: $color-white;
$color-footer-background: $color-gray-chateu;
