// colors.scss gera praktika pradzioj apsirasyt visa spalvu palete su spalvos pavadinimu,
// o zemiau faile apsirasyt spalva su konkreciu uznaudojimu ir panaudot ta spalvos kintamaji

// Grynu spalvu pavadinimus gali isgaut cia http://chir.ag/projects/name-that-color/ copy + paste spalvos hex koda ir gausi pavadinima

// Color pallette
$color-white: #fff; // Grynasias spalvas irgi verta apsirasyt (white ir black) nes kartais ju atspalvis nera visiskai baltas arba juodas
$color-light-red: #fa6980;
$color-light-red-active: #f05c74;
$color-gray-chateu: #a6adb4;
$color-porcelain: #f6f8f9;
$color-shark: #343638;
$color-iron: #cbd0d3;
$color-light-red-transperant: rgba(166,173,180, 0.1);
$color-shark-transperant: rgba(254, 254, 255, 0.2);


// Project colors
$theme-colors: (
    "accent-1": $color-light-red,
    "accent-active": $color-light-red-active,
    "accent-2": $color-porcelain,
    "active": $color-shark,
    "active-trans": $color-shark-transperant,
    "inactive": $color-gray-chateu,
    "footer-accent": $color-iron,
    "white": $color-white,
    "border": $color-light-red-transperant,
);

@function theme-color($_key) {
    @return map-get($theme-colors, $_key)
}
