$font-family-primary: 'Public Sans', arial, sans-serif;

$fonts-size-h1: 24px;
$fonts-size-text: 16px;
$fonts-size-button: 11px;
$fonts-size-navigation: 11px;

$line-height-medium: 1.5;
$line-height-big: 1.8;

$font-weight-fat: 700;