$font-family-primary: 'Public Sans', arial, sans-serif;

$font-size-maxima: px-to-rem(50px);
$font-size-max: px-to-rem(33px);
$fonts-size-h1: px-to-rem(24px);
$fonts-size-text: px-to-rem(16px);
$fonts-size-button: px-to-rem(11px);
$fonts-size-navigation: px-to-rem(11px);
$fonts-size-paragraph: px-to-rem(13px);

$line-height-small: 1;
$line-height-medium: 1.5;
$line-height-big: 1.8;

$font-weight-fat: 700;
