$spacers-map: (
    small-xxs: 3px,
    small-xs: 5px,
    small-s: 8px,
    small-m: 10px,
    small-l: 15px,
    small-xl: 20px,
    medium-xxs: 25px,
    medium-xs: 30px,
    medium-s: 40px,
    medium-m: 50px,
    medium-l: 60px,
    medium-xl: 70px,
    trojan-xs: 110px,
    trojan-s: 125px,
    trojan-m: 140px,
    trojan-l: 170px,
);

@function spacer($_key) {
    @return map-get($spacers-map, $_key);
}