$cta-transition-duration: 0.2s;

@function cta-transition($_list, $_duration: $cta-transition-duration) {
    $_new-list: ();
    @each $_item in $_list {
        $_new-list: append($_new-list, $_item $_duration ease, comma)
    }
    @return $_new-list;
}
