.menu {
    display: none;
    font-family: $font-family-primary;
    font-size: $fonts-size-navigation;
    font-weight: $font-weight-fat;
    line-height: $line-height-big;

    @include if-tablet {
        display: flex;
    }

    &__navigation {

        @include if-tablet {
            display: flex;
            list-style: none;
            margin-right: 29px;
            text-transform: uppercase;
        }
    }

    &__item {
        color: theme-color("inactive");
        transition: color 0.3s ease;

        @include if-tablet {
            margin: spacer(small-m);
        }

        &:hover {
            color: theme-color("accent-1");
            cursor: pointer;
            opacity: 1;
        }

        &.-active { color: theme-color("active"); }
    }
}

