.menu {
    display: none;

    @include if-tablet {
        display: flex;
    }

    &__navigation {

        @include if-tablet {
            display: flex;
            margin-right: 29px;
        }
    }

    &__item {

        @include if-tablet {
            margin: spacer(small-m);
        }
    }
}

