.menu {
    display: none;

    @include if-tablet {
        display: flex;
    }

    &__navigation {

        @include if-tablet {
            display: flex;
            margin-right: spacer(medium-xs);
        }
    }

    &__item {

        @include if-tablet {
            margin: spacer(small-m);
        }

        &:hover {
            color: theme-color("accent-1");
            cursor: pointer;
        }

        &.-active { color: theme-color("active"); }
    }
}

