.article {
    display: flex;
    flex-direction: column;
    font-family: $font-family-primary;
    line-height: $line-height-medium;

    &__box {

        &.-notes {
            display: flex;
            flex-direction: column;
        }

        @include if-tablet {
            column-count: 2;
            column-gap: spacer(medium-s);

            &.-notes {
                display: block;
            }
        }

        @include if-desktop {
            column-count: auto;
            column-gap: normal;

            &.-notes {
                column-count: 2;
                column-gap: spacer(medium-s);
            }
        }
    }

    &__title {
        color: theme-color("active");
        font-size: font-size('heading');
        font-weight: $font-weight-fat;
        margin-bottom: spacer(medium-xxs);
    }

    &__content {
        color: theme-color("inactive");
        font-size: font-size("paragraph");
        line-height: $line-height-big;

        &.-notes {
            margin-bottom: spacer(small-xl);
        }

        @include if-tablet {
            margin-bottom: spacer(medium-xs);
        }
    }

    &__post-info {
        border-top: dashed;
        border-width: border(m);
        color: rgba(theme-color("inactive"), 0.2);
        display: none;
        padding-top: spacer(medium-xs);

        &.-notes {
            border: none;
            display: flex;
            padding-top: 0;
        }
        @include if-tablet {
            display: flex;
        }
    }

}