.hero {

    &__background {
        background-image: url('/assets/mount.jpg');
        background-position: center;
        background-repeat: none;
        background-size: cover;
    }

    &__news {
        height: 388px;
        padding: $layout-top-padding $layout-gutter;
        width: 100%;

        @include if-tablet {
            display: flex;
            height: 400px;
            padding: 73px 65px;
        }

        @include if-desktop {
            height: 600px;
            padding: 167px 125px 0px 125px;
        }
    }

    &__news-box {
        color: $color-hero-text;
        display: flex;
        flex-direction: column;
        font-family: $font-family-primary;
    }

    &__title-box {
        border-bottom: solid;
        border-color: $color-hero-text;
        border-width: 2px;
        font-size: $fonts-size-h1;
        font-weight: $font-weight-fat;
        line-height: $line-height-big;
        padding-bottom: $layout-top-padding;
        width: 100%;
    }

    &__subtitle {
        font-size: $fonts-size-h1;
        font-weight: $font-weight-fat;
        line-height: $line-height-medium;
        margin-bottom: 10px;
        padding-top: $layout-top-padding;
    }

    &__paragraph {
        font-size: $fonts-size-text;
        line-height: $line-height-medium;
        margin-bottom: 15px;
    }
}

.posts {

    display: flex;
    flex-direction: column;
    padding: 0px 11px;

    @include if-tablet {
        flex-direction: row;
        padding: 0px 65px;
    }

    @include if-desktop {
        flex-direction: column;
    }
}