.hero {
    background-color: $color-accent;
    display: flex;
    flex-direction: column;

    &__news {
        height: 388px;
        width: 100%;

        @include if-tablet {
            height: 400px;
        }

        @include if-desktop {
            height: 600px;
            width: 840px;
        }
    }

    &__discoveries {
        height: 478px;
        width: 100%;

        @include if-tablet {
            height: 343px;
        }

        @include if-desktop {
            height: 600px;
        }
    }

    @include if-desktop {
        flex-direction: row;
    }
}


.news {
    color: $color-white;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    margin: 0px 20px;

    &__title {
        align-items: center;
        height: 20px;
        padding-bottom: 40px;
        padding-top: 40px;
        width: 100%;
    }
}