.hero {

    &__posts-box {

        @include if-desktop {
            padding-top: 50px;
        }
    }

    &__posts {
        display: flex;
        flex-direction: column;
        padding: 0px spacer("xs");

        @include if-tablet {
            flex-direction: row;
            padding: 0px $layout-gutter-tablet;
        }

        @include if-desktop {
            flex-direction: column;
        }
    }
}