.hero {
    &__background {
        background-image: url('/assets/mount.jpg');
        background-position: center;
        background-repeat: none;
        background-size: cover;
    }

    &__posts {
        display: flex;
        flex-direction: column;
        padding: 0px spacer("xs");

        @include if-tablet {
            flex-direction: row;
            padding: 0px 65px;
        }

        @include if-desktop {
            flex-direction: column;
        }
    }
}