.hero {

    padding-top: 44px;

    @include if-tablet {
        padding-top: 50px;
    }

    &__post-box {
        @include if-desktop {
            padding-right: 53px;
        }
    }

    &__section-lable {

        border-bottom: solid;
        border-color: theme-color("inactive");
        border-width: border(s);
        margin: 0 spacer(medium-xxs);
        padding: spacer(medium-s) 0;

        @include if-tablet {
            margin: 0 spacer(medium-xl);
        }
        @include if-desktop {
            padding-top: spacer(medium-xl);
        }
    }

    &__posts {
        display: flex;
        flex-direction: column;
        padding: spacer(medium-s) spacer(medium-xxs);

        @include if-tablet {
            flex-direction: row;
            padding: spacer(medium-s) spacer(medium-xl);
        }

        @include if-desktop {
            flex-direction: column;
            padding-right: spacer(medium-xl);
        }
    }

    &__first-post {
        padding-bottom: spacer(medium-s);

        @include if-tablet {
            padding-bottom: 0;
        }

        @include if-desktop {
            padding-bottom: spacer(medium-s);
        }
    }

    &__second-post {
        @include if-tablet {
            padding-left: spacer(small-xl);
        }
        @include if-desktop {
            padding-left: 0;
        }
    }
}