.logo {
    $_logo-size: 13px;
    color: $color-header-inactive;
    font-family: $font-family-primary;
    font-size: $_logo-size;
    font-weight: bold;
    line-height: $line-height-medium;
    text-align: center;

    @include if-tablet {
        color: $color-accent;
        margin-left: 20px;
        margin-right: auto;
        text-align: left;
    }
}
