.logo {
    $_logo-size: 13px;
    color: theme-color("inactive");
    font-family: $font-family-primary;
    font-size: $_logo-size;
    font-weight: $font-weight-fat;
    line-height: $line-height-medium;
    text-align: center;

    &.-footer {
        color: theme-color("white");
        margin: spacer(xa) 0;
    }

    &.-sidebar {
        color: $color-accent;
        text-align: start;
    }

    @include if-tablet {
        color: theme-color("accent-1");
        margin-left: spacer(xm);
        margin-right: auto;
        text-align: left;
    }
}
