.logo {
    $_logo-size: 13px;
    color: $color-header-inactive;
    font-family: $font-family-primary;
    font-size: $_logo-size;
    font-weight: $font-weight-fat;
    line-height: $line-height-medium;
    text-align: center;

    &.-footer {
        color: $color-body;
        margin: spacer(small-xxs) 0;
    }

    @include if-tablet {
        color: $color-accent;
        margin-left: spacer(small-xl);
        margin-right: auto;
        text-align: left;
    }
}
