.featured-card {
    background-position: center;
    background-size: cover;
    border-radius: radius(l);
    height: 300px;
    width: 100%;

    &.-first-item {
        margin-bottom: spacer(medium-s);
    }
    &.-last-item {
        margin-bottom: spacer(medium-s);

        @include if-desktop {
            margin-bottom: spacer(medium-l);
        }
    }

    @include if-tablet {
        height: 430px;
    }

    &__text-box {
        height: 300px;
        padding: spacer(medium-xs) spacer(medium-xxs);

        @include if-tablet {
            height: 430px;
            padding: spacer(medium-s);
        }
    }
}