.featured {
    background-color: theme-color("accent-2");
    display: flex;
    padding: 0 spacer(small-m);

    @include if-tablet {
        padding: 0 spacer(medium-s);
    }

    @include if-desktop {
        padding: 0 spacer(trojan-s);
    }
    &__navigation {
        padding-top: spacer(medium-s);
        @include if-tablet {
            padding-top: 0;
        }
    }

    &__small-card {
        padding-bottom: spacer(small-xl);
    }
}