.navigation-item {
    color: theme-color("inactive");
    font-size: $fonts-size-navigation;
    font-weight: $font-weight-fat;
    line-height: $line-height-big;
    list-style: none;
    text-transform: uppercase;

    &__anchor {
        color: theme-color("inactive");
        display:flex;
        text-decoration: none;
        transition: cta-transition(color, transform);

        &:hover {
            color: theme-color("active");
            transform: scale(1.1);
        }
    }

    &__title {

        &.-active {
            color: theme-color("active");
        }
    }

    &__icon {
        @include size(16px);
        margin-right: spacer(medium-xs);

        &.-round {
            border-radius: 50%;
        }
    }
}