.author-notes {
    background-color: theme-color("accent-2");
    display: flex;
    flex-direction: column;

    &__title-box {
        display: flex;
        flex-direction: column;
        margin-bottom: spacer(medium-xxs);

        @include if-tablet {
            margin-right: 53%;
        }
    }

    &__title {
        color: theme-color("active");
        font-family: $font-family-primary;
        font-size: font-size("h1");
        font-weight: $font-weight-fat;
        line-height: $line-height-medium;
        margin-top: spacer(medium-xxs);
    }
}