.discovery-hero {
    background-color: theme-color("accent-2");
    width: 100%;

    &__box {

        @include if-tablet {
            padding: 0 80px;
        }
        @include if-desktop {
            padding: 0 140px;
        }
    }

    &__content {
        background-image: url('/assets/img/DiscoveryMountain.jpg');
        background-size: cover;
        height: 100%;
        padding: 90px spacer(small-xl);

        @include if-tablet {
            padding: spacer(trojan-xs) 170px;
        }

        @include if-desktop {
            border-bottom-left-radius: radius(l);
            border-top-left-radius: radius(l);
            padding: 150px spacer(trojan-xs);
        }
    }

    &__search {
        background-color: theme-color("white");
        padding: spacer(medium-s) spacer(medium-xxs);

        @include if-tablet {
            padding: 90px 80px;
            border-bottom-right-radius: radius(l);
            border-bottom-left-radius: radius(l);
        }

        @include if-tablet {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: radius(l);
            border-top-right-radius: radius(l);
            padding: 150px spacer(trojan-xs);
        }
    }
}