.discovery-hero {
    width: 100%;

    &__box {
        background-color: theme-color("accent-2");
        @include if-desktop {
            padding: 0 140px;
        }
    }

    &__content {
        background-size: cover;
        padding: 90px spacer(small-xl);

        @include if-tablet {
            padding: 110px 170px;
        }

        @include if-desktop {
            border-bottom-left-radius: radius(m);
            border-top-left-radius: radius(m);
            padding: 150px 110px;
        }
    }
}