.dropdown-menu {
    @include size(200px);
    background-color: theme-color("accent-2");
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    right: 168px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    z-index: index(second-floor);

    &.-isOpen {
        display: flex;
        transform: translateY(0);
    }

    &__nav {
        margin-left: spacer(small-xl);
    }

    &__nav-item {
        padding-bottom: spacer(small-m);
    }

    &__nav-item:first-child {
        padding-top: spacer(small-m);
    }
}
