.dropdown-menu {
    background-color: theme-color("accent-2");
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: $font-family-primary;
    width: 200px;

    &.-isOpen {
        display: flex;
        transform: translateY(0);
    }

    &__nav {
        margin-left: spacer(small-xl);
    }

    &__nav-item {
        padding-bottom: spacer(small-m);
    }

    &__nav-item:first-child {
        padding-top: spacer(small-m);
    }
}
