.small-card {
    background-color: theme-color("accent-2");

    @include if-desktop {
        padding-bottom: spacer(small-s);
    }
    &.-firstItem {
        border-top: solid border(s) theme-color("inactive");
        padding-top: spacer(l);

        @include if-tablet {
            border-top: none;
            padding-top: 0;
        }
    }

    &__image {
        background-size: cover;
        border-radius: radius(m);
        height: 180px;
        margin-bottom: spacer(small-m);
        width: 100%;

        @include if-desktop {
            height: 210px;
            margin-bottom: spacer(small-l);
        }
    }

    &__text {
        color: theme-color("active");
        font-family: $font-family-primary;
        margin-top: spacer(small-s);
    }

    &__title {
        font-size: $fonts-size-text;
        font-weight: $font-weight-fat;
        line-height: $line-height-medium;
        margin-bottom: spacer(small-xxs);
    }


}