.time {
    align-items: center;
    display: flex;

    &__clock {
        @include size(16px);
        background-image: url('/assets/img/time.png');
        background-size: contain;
        margin-right: spacer(small-m);
    }

    &__clock-time {
        color: theme-color("inactive");
        font-size: $fonts-size-navigation;
        font-style: italic;
        line-height: $line-height-big;
    }
}