.time {
    align-items: center;
    display: flex;

    &__clock {
        margin-right: spacer(small-m);
    }

    &__clock-time {
        color: theme-color("inactive");
        font-size: font-size("navigation");
        font-style: italic;
        line-height: $line-height-big;
    }
}