.time {
    align-items: center;
    display: flex;
    margin-bottom: 35px;

    &.-marginless {
        margin-bottom: 0;
    }

    &__clock {
        @include size(16px);
        background-image: url('/assets/img/time.png');
        background-size: contain;
        margin-right: spacer(xs);
    }

    &__clock-time {
        color: $color-header-inactive;
        font-size: $fonts-size-navigation;
        font-style: italic;
        line-height: $line-height-big;
    }
}