.header {
    background-color: theme-color("accent-2");
    position: fixed;
    width: 100%;
    z-index: index(half-modal);

    &__box {
        align-items: center;
        display: flex;
        height: spacer(header-s);
        justify-content: center;
        padding: 0 spacer(small-l);
        width: 100%;

        @include if-tablet {
            height: spacer(header-m);
            justify-content: flex-end;
            padding: 0 spacer(small-xl);
        }
    }

    &__sidebar {
        margin-right: auto;

        @include if-tablet {
            display: none;
        }
    }

    &__photo {
        margin-left: auto;
        margin-top: 4px;


        @include if-tablet {
            margin-left: 0;
        }
    }
}