.header {
    background-color: theme-color("accent-2");
    padding: 0 spacer(small-l);
    position: relative;
    z-index: index(half-modal);

    @include if-tablet {
        padding: 0 spacer(small-xl);
    }

    &__box {
        align-items: center;
        display: flex;
        height: 44px;
        justify-content: center;
        width: 100%;

        @include if-tablet {
            height: 50px;
            justify-content: flex-end;
        }
    }

    &__sidebar {
        margin-right: auto;

        @include if-tablet {
            display: none;
        }
    }

    &__photo {
        margin-left: auto;
        margin-top: 4px;


        @include if-tablet {
            margin-left: 0;
        }
    }
}