.input-label {

    &__value-container {
        color: theme-color('inactive');
        font-family: $font-family-primary;
        font-size: font-size('text');
    }

    &__menu {
        color: theme-color('active');
        font-family: $font-family-primary;
        font-size: font-size('text');
    }
}