.discoveriesBox {
    width: 100%;
    height: 478px;
    background-color: $color-white;
}
.discoText {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    margin-left: 6.4%;
    margin-right: 6.4%;
}

//Title

.titleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    border-bottom: solid;
    border-width: 2px;
    justify-content: flex-end;
}
.title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 0.83;
    color: #202124;
    margin-right: auto;
}
.arrowButtonsLeft {
    width: 6px;
    height: 10px;
    background-image: url(https://i.ibb.co/T8wQzzD/arrow-back-3x.png);
    background-size: contain;
    margin-right: 32px;
}
.arrowButtonsRight {
    width: 6px;
    height: 10px;
    background-image: url(https://i.ibb.co/1MwTsw6/arrow-3x.png);
    background-size: contain;
}

// Columns

.travelTitle, .techTitle {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: $color-accent;
    line-height: 1.25;
    height: 14px;
    margin-top: 42px;
    margin-bottom: 20px;
}

.travelArticTitle, .techArticTitle {
    height: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #202124;
    line-height: 1.25;
    margin-bottom: 10px;
}

.travelInfo, .techInfo {
    height: 42px;
    font-size: 16px;
    line-height: 1.63;
    color: #a6adb4;
    font-weight: normal;
}

.travelTime, .techTime {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    height: 16px;
}

.travelClock, .techClock {
    height: 16px;
    width: 16px;
    background-image: url(https://i.ibb.co/sV18Gqc/time.png);
    background-position: center;
    margin-right: 10px;
}

.travelTimeCounter, .techTimeCounter {
    font-size: 13px;
    line-height: 2;
    font-style: oblique;
    color: #a6adb4;
}

@media screen and (min-width: 768px) {
    .discoveriesBox {
        height: 343px;
    }
    .discoText {
        margin-left: 10.4%;
        margin-right: 10.4%;
    }
    .travelInfo, .techInfo {
        width: 284px;
    }
    .discConBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 243px;
        width: 604px;
    }
    .discTravel {
        margin-right: 5.2%;
    }
}

//DeskTopo layout @media nukisau "~/style/res/breakpoints.scss"

@media screen and (min-width: 1200px) {
    .discoveriesBox {
        height: 600px;
        width: 600px;
    }
    .discoText {
        margin-left: 16.6%;
        margin-right: 16.6%;
        margin-top: 11.6%;
    }
    .travelInfo, .techInfo {
        width: 100%;
    }
    .discConBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 300px;
        width: 320px;
    }
    .discTravel {
        margin-right: 0%;
    }
}