.next-story {
    display: flex;
    flex-direction: column;

    @include if-tablet {
        border-color: theme-color("inactive");
        border-radius: radius(l);
        border-style: dashed;
        border-width: border(m);
        padding: spacer(small-xl);
        width: 284px;
    }

    @include if-desktop {
        width: 360px;
    }

    &__anchor {
        align-items: center;
        display: flex;
        font-family: $font-family-primary;
        font-size: $fonts-size-text;
        font-weight: $font-weight-fat;
        line-height: $line-height-medium;
        text-decoration: none;

    }

    &__text-box {
        margin-right: spacer(small-xl);

        @include if-tablet {
            margin-right: spacer(medium-l);
        }

        @include if-desktop {
            margin-right: auto;
        }
    }

    &__label {
        color: theme-color("accent-1");
        margin-right: spacer(small-xl);
    }

    &__subtitle {
        color: theme-color("white");
        display: none;

        @include if-tablet {
            display: flex;
        }
    }

    &__paragraph {
        color: theme-color("white");
        display: none;
        font-family: $font-family-primary;
        font-size: $fonts-size-text;
        line-height: $line-height-medium;

        @include if-desktop {
            display: flex;
        }
    }
}