.footer {
    background-color: $color-footer-background;
    color: $color-footer-input;
    font-family: $font-family-primary;
    padding: 50px spacer(xs) 35px spacer(xs);

    @include if-tablet {
        padding: 50px spacer(l)
    }

    &__columns {
        font-size: $fonts-size-navigation;
        font-weight: $font-weight-fat;
        line-height: $line-height-big;
        list-style: none;

        @include if-tablet {
            font-size: $fonts-size-paragraph;
        }
    }

    &__item {
        margin-bottom: 20px;
        text-transform: uppercase;

        &.-lastItem {
            margin-bottom: 45px;
        }

        @include if-tablet {
            margin-bottom: 3px;
            text-transform: none;
        }
    }

    &__media {
        @include if-tablet {
            align-items: flex-end;
            display: flex;
            height: 65px;
            justify-content: end;
            width: 100%;
        }
    }

    &__img {
        margin-right: 24px;
        @include size(16px)
    }

    &__input-box {
        display: flex;
        flex-direction: column;
    }

    &__input-border {
        align-items: center;
        background-color: $color-footer-background;
        border: solid 1px;
        border-color: $color-footer-input;
        border-radius: 4px;
        display: flex;
        height: spacer(l);
    }

    &__input {
        background-color: $color-footer-background;
        border: none;
        border-radius: 4px;
        color: $color-footer-input;
        font-family: $font-family-primary;
        margin-left: 20px;
        width: 100%;
    }

    &__input-button {
        background-color: transparent;
        border: none;
        border-radius: 4px;
        margin-top: 5px;
        padding: 5px 17px;
        pointer-events: none;
    }

    &__button-img {
        @include size(16px);
    }

    &__input-line {
        font-size: $fonts-size-navigation;
        line-height: $line-height-big;
        margin-top: 6px;
    }
}
