.button {
    align-items: center;
    background-color: theme-color("accent-1");
    border-radius: radius(l);
    color: theme-color("white");
    display: flex;
    font-size: $fonts-size-button;
    font-weight: $font-weight-fat;
    height: spacer(medium-s);
    justify-content: center;
    line-height: $line-height-big;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 150px;
    z-index: index(content);

    &__title {
        transition: trnasform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__effect {
        background-color: theme-color("accent-active");
        border-radius: radius(round);
        height: 100%;
        position: absolute;
        width: 25%;
        z-index: index(underground);
        transition: transform 0.6s ease;


        &:nth-child(2) {
            transition-delay: 0.1s;
            left: 0;
            transform: translateX(-150%);
        }
        &:nth-child(3) {
            transition-delay: 0.3s;
            left: 50px;
            transform: translateY(-150%);
        }
        &:nth-child(4) {
            transition-delay: 0.2s;
            left: 75px;
            transform: translateY(150%);
        }
        &:nth-child(5) {
            transition-delay: 0.1s;
            left: 100px;
            transform: translateX(150%);
        }
    }

    &:hover :nth-child(n+2) {
        transform: translateY(0) translateX(0) scale(3);
    }

}
