.button {
    align-items: center;
    background-color: theme-color("accent-1");
    border-radius: 5px;
    color: theme-color("white");
    display: flex;
    font-size: $fonts-size-button;
    font-weight: $font-weight-fat;
    height: spacer(medium-s);
    justify-content: center;
    line-height: $line-height-big;
    text-align: center;
    text-decoration: none;
    width: 150px;
}