.discovery-knight {
    background-color: theme-color("accent-2");

    &__content {
        padding: 0 spacer(medium-xxs);

        @include if-tablet {
            padding: 0 spacer(medium-xl);
        }

        @include if-desktop {
            padding: 0 spacer(trojan-s);
        }
    }
}