.story-hero {
    background-image: url('/assets/img/jungle.jpg');
    background-size: cover;
    width: 100%;

    &__box {
        padding: spacer(trojan-s) spacer(medium-xxs) spacer(medium-s) spacer(medium-xxs);

        @include if-tablet {
            padding-left: spacer(medium-s);
            padding-right: spacer(medium-s);
        }
    }

    &__title {
        color: theme-color("white");
        font-family: $font-family-primary;
        font-size: $font-size-max;
        font-weight: $font-weight-fat;
        line-height: $line-height-medium;
        margin-bottom: spacer(small-xl);
        text-align: center;
        text-transform: uppercase;
    }

    &__icon-box {
        display: flex;
        justify-content: center;
        margin-bottom: spacer(medium-l);

        @include if-tablet {
            margin-bottom: 110px;
        }
    }

    &__icon-label {
        &:first-child {
            margin-right: spacer(medium-s);
        }
    }

    &__next-story {
        padding-left: spacer(medium-s);
    }
}
