.section {
    font-family: $font-family-primary;
    height: 100px;
    padding: 30px 11px;
    width: 100%;

    @include if-tablet {
        padding: 40px 65px;
    }

    @include if-desktop {
        height: 160px;
        padding-top: 70px;
    }

    &__title-box {
        align-items: center;
        border-bottom: solid;
        border-color: $color-header-inactive;
        border-width: 1px;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 30px;

        @include if-desktop {
            margin-right: 40px;
        }
    }

    &__title {
        color: $color-title-black;
        font-size: $fonts-size-h1;
        font-weight: bold;
        line-height: 0.83;
        margin-right: auto;
        text-transform: uppercase;
    }

    &__button {

        &.-left {
            background-image: url('/assets/img/arrowLeft.png');
            background-repeat: no-repeat;
            background-size: contain;
            height: 10px;
            margin-right: 32px;
            width: 6px;
        }
        &.-right {
            background-image: url('/assets/img/arrowRight.png');
            background-repeat: no-repeat;
            background-size: contain;
            height: 10px;
            width: 6px;
        }
    }
}