.section-navigation {
    font-family: $font-family-primary;
    padding: spacer(medium-s) spacer(small-m) 0 spacer(small-m);
    width: 100%;

    @include if-tablet {
        padding: spacer(medium-s) spacer(medium-s) 0 spacer(medium-s);
    }

    &.-borderless {
        padding-top: spacer(medium-s) 0 0 0;

        @include if-tablet {
            padding: spacer(medium-s) 0 0 0;
        }
    }

    &__title-box {
        align-items: center;
        border-bottom: solid;
        border-color: theme-color("inactive");
        border-width: border(s);
        display: flex;
        justify-content: flex-end;
        padding-bottom: spacer(medium-s);

        @include if-desktop {
            margin-right: spacer(medium-l);
        }

        &.-borderless {
            border-bottom: none;

            @include if-desktop {
                margin-right: 0;
            }
        }
    }

    &__title {
        color: theme-color("active");
        font-size: $fonts-size-h1;
        font-weight: $font-weight-fat;
        line-height: $line-height-small;
        margin-right: auto;
        text-transform: uppercase;
    }

    &__button {
        background-repeat: no-repeat;
        background-size: contain;
        height: 10px;
        width: 6px;

        &.-left {
            background-image: url('/assets/img/arrowLeft.png');
            margin-right:  spacer(medium-xs);
        }
        &.-right {
            background-image: url('/assets/img/arrowRight.png');
        }
    }
}