.background  {
    align-items: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 388px;
    justify-content: center;
    padding: 0 spacer(medium-xxs);
    width: 100%;

    @include if-tablet {
        display: flex;
        height: 400px;
        padding: 0 spacer(medium-x);
    }

    @include if-desktop {
        height: 600px;
        padding: 0 spacer(trojan-s);
    }

    &__news-box {
        color: theme-color("white");
        display: flex;
        flex-direction: column;
        font-family: $font-family-primary;
    }

    &__title-box {
        border-bottom: solid;
        border-color: theme-color("white");
        border-width: border(m);
        font-size: font-size("h1");
        font-weight: $font-weight-fat;
        line-height: $line-height-big;
        padding-bottom: spacer(medium-xs);
        text-transform: uppercase;
        width: 100%;
    }

    &__subtitle {
        font-size: font-size("h1");
        font-weight: $font-weight-fat;
        line-height: $line-height-medium;
        margin-bottom: spacer(small-m);
        padding-top: spacer(medium-xs);
    }

    &__paragraph {
        font-size: font-size("text");
        line-height: $line-height-medium;
        margin-bottom: spacer(small-l);
    }
}