.background  {
    background-image: url('/assets/mount.jpg');
    background-size: cover;
    height: 388px;
    padding: spacer(medium-xs) spacer(medium-xxs);
    width: 100%;

    @include if-tablet {
        display: flex;
        height: 400px;
        padding: spacer(medium-xl) spacer(medium-x);
    }

    @include if-desktop {
        height: 600px;
        padding: spacer(trojan-m) spacer(trojan-s) 0 spacer(trojan-s);
    }

    &__news-box {
        color: theme-color("white");
        display: flex;
        flex-direction: column;
        font-family: $font-family-primary;
    }

    &__title-box {
        border-bottom: solid;
        border-color: theme-color("white");
        border-width: border(m);
        font-size: $fonts-size-h1;
        font-weight: $font-weight-fat;
        line-height: $line-height-big;
        padding-bottom: spacer(medium-xs);
        width: 100%;
    }

    &__subtitle {
        font-size: $fonts-size-h1;
        font-weight: $font-weight-fat;
        line-height: $line-height-medium;
        margin-bottom: spacer(small-m);
        padding-top: spacer(medium-xs);
    }

    &__paragraph {
        font-size: $fonts-size-text;
        line-height: $line-height-medium;
        margin-bottom: spacer(small-l);
    }
}