.background  {
    height: 388px;
    padding: spacer(m) spacer(xs);
    width: 100%;

    @include if-tablet {
        display: flex;
        height: 400px;
        padding: spacer(xll) spacer(xl);
    }

    @include if-desktop {
        height: 600px;
        padding: spacer(xxxl) spacer(xxl) 0 spacer(xxl);
    }

    &__news-box {
        color: theme-color("white");
        display: flex;
        flex-direction: column;
        font-family: $font-family-primary;
    }

    &__title-box {
        border-bottom: solid;
        border-color: theme-color("white");
        border-width: border(m);
        font-size: $fonts-size-h1;
        font-weight: $font-weight-fat;
        line-height: $line-height-big;
        padding-bottom: spacer(m);
        width: 100%;
    }

    &__subtitle {
        font-size: $fonts-size-h1;
        font-weight: $font-weight-fat;
        line-height: $line-height-medium;
        margin-bottom: spacer(xs);
        padding-top: spacer(m);
    }

    &__paragraph {
        font-size: $fonts-size-text;
        line-height: $line-height-medium;
        margin-bottom: spacer(s);
    }
}